.navbar{
    top: 0;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); 
    padding: 1rem 0;
    align-items: center;

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;

        &__mobile{
            display: none;
        }


        &__list{
            display: flex; 
            align-items: center;
            p{
                margin-right: 2rem;
                cursor: pointer;
            }

            button{
                padding: 1rem 2rem;
                background: transparent;
                border: 1px solid #7BC042;

                &:hover{
                    background: #7BC042;
                    color: #F4F1EB;
                }
            }
        }
    }

    @media screen and (min-width: 300px) and (max-width:859px){
        &__container{
            &__list{
                display: none;
            }
            &__mobile{
                display: block;
            }
        }
    }
}